@model AdministrarCuentasModel
@{
    ViewData["Title"] = "FuncionesGerente";
}


<div class="row">
    <h1 class="display">Empleados y clientes dados de alta</h1>
    <table class="thead-inverse" align="left">
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>FechaNacimiento</th>
        </tr>
        <tbody>
            @foreach (Empleado data in Model.EmpleadoAlta)
            {
                <tr>
                <td>empleado @data.IDEmpleado</td>
                <td>@data.Nombre</td>
                <td>@data.Apellido</td>
                <td>@Convert.ToString(string.Format("{0:dd/MM/yyyy}", data.FechaNacimiento))</td>
                <td>
                <div class="row">
                    <div class="col">
                        <form asp-action="eliminar" asp-route-itemid="@data.IDEmpleado" method="post">
                            <input type="submit" value="eliminarEmpleado" class="btn btn-primary" />
                        </form>
                    </div>
                </div>
                </td>
                </tr>
            }
        </tbody>
    </table>
    <br><br/>
        <table class="thead-inverse" align="left">
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>FechaNacimiento</th>
        </tr>
        <tbody>
            @foreach (Usuario data in Model.UsuarioAlta)
            {
                <tr>
                <td>usuario @data.IDUsuario</td>
                <td>@data.Nombre</td>
                <td>@data.Apellido</td>
                <td>@Convert.ToString(string.Format("{0:dd/MM/yyyy}", data.FechaNacimiento))</td>
                <td>
                <div class="row">
                    <div class="col">
                        <form asp-action="eliminarUsr" asp-route-itemid="@data.IDUsuario" method="post">
                            <input type="submit" value="eliminarUsuario" class="btn btn-primary" />
                        </form>
                    </div>
                </div>
                </td>
                </tr>
            }
        </tbody>
    </table>
</div>