@if (ViewData.ContainsKey("Nombre"))
{
    <h2>@ViewData["Nombre"]</h2>
}
    <br><br/>
    <h1 class="animate__backInLeft">Administracion</h1>
    <a href="@Url.Action("Index", "AdministrarPrestamos")">
        <button class="btn btn-secondary">Solicitudes de Préstamos</button>
    </a>
    <a href="@Url.Action("AdministrarCuentas", "FuncionesGerente")">
        <button class="btn btn-secondary">Administrador de cuentas</button>
    </a>
     
    <a href="@Url.Action("CrearEmpleado", "FuncionesGerente")">
        <button class="btn btn-secondary">Crear empleado</button>
    </a>

    <a href="@Url.Action("Reportes", "FuncionesGerente")">
        <button class="btn btn-secondary">Reportes</button>
    </a>
        <br><br/>
    <h1 class="animate__backInLeft">Personal</h1>
    <a href="@Url.Action("Vacaciones", "FuncionesGerente")">
        <button class="btn btn-outline-secondary">Vacaciones</button>
    </a>
    <a href="@Url.Action("Index", "CuentaBancaria")">
        <button class="btn btn-outline-secondary">CuentaBancaria</button>
    </a>
