@{
    ViewData["Title"] = "Pagina Principal";
}

@if (ViewData.ContainsKey("Nombre"))
{
    <h2>@ViewData["Nombre"]</h2>
}

<div class="container">

    <a href="@Url.Action("Solicitudes", "AdministrarPrestamos")">
        <button class="btn btn-primary">Solicitudes de Préstamos</button>
    </a>

    <a href="@Url.Action("AdministrarCuentas", "FuncionesGerente")">
        <button class="btn btn-primary">Administrador de cuentas</button>
    </a>

    <a href="@Url.Action("CrearEmpleado", "FuncionesGerente")">
        <button class="btn btn-primary">Crear empleado</button>
    </a>

    <a href="@Url.Action("Reportes", "FuncionesGerente")">
        <button class="btn btn-primary">Reportes</button>
    </a>

    <a href="@Url.Action("Vacaciones", "FuncionesGerente")">
        <button class="btn btn-primary">Vacaciones</button>
    </a>
</div>
