@model HistorialPrestamosModel
<div>
    <p>Historial de prestamos</p>
</div>

<div class="Prestamos">
    <table style="text-align: left; width: 100%;" border="1" cellpadding="2" cellspacing="2">
        <tr>
        <tr>
            <th>Folio del prestamo</th>
            <th>Cantidad</th>
            <th>Num Pago</th>
            <th>Fecha de solicitud</th>
            <th>Fecha de liquidacion</th>
        </tr>
        <tbody>
                @foreach (Prestamo data in Model.Prestamos)
                {
                <tr>
                    <td>@data.IDPrestamo</td>
                    <td>@data.Cantidad</td>
                    <td>@data.Pagos.Count()</td>
                    <td>@data.FechaSolicitud</td>
                    <td>@data.FechaLiquidacion</td>
                </tr>
                    <div class="row">
                    <div class="col">
                    <a href="@Url.Action("CalcularPrestamo", "AdministrarPrestamos")">
                        <button class="ingreso">Calcular</button>
                    </a>
                    </div>
                </div>
                }
        </tbody>
    </table>
</div>

