@model Prestamo

<div>

    <h2>Hola @ViewData["Nombre"]!</h2>

    <h3>Tu saldo es @ViewData["Saldo"]</h3>

    @if (Model != null)
    {
        <p>prestamo activo</p>
        <table style="text-align: left; width: 100%;" border="1" cellpadding="2" cellspacing="2">
            <thead>
                <th>Folio del prestamo</th>
                <th>Cantidad</th>
                <th>Num Pago</th>
                <th>Fecha de solicitud</th>
                <th>Fecha de liquidacion</th>
            </thead>
            <tbody>
                <tr>
                    <td>@Model.IDPrestamo</td>
                    <td>@Model.Cantidad</td>
                    <td>@Model.Pagos.Count()</td>
                    <td>@Model.FechaSolicitud</td>
                    <td>@Model.FechaLiquidacion</td>
                </tr>
            </tbody>
        </table>
    }
    <div class="controler">
    <a href="@Url.Action("HistorialPrestamos", "CuentaBancaria")">
        <button class="btn btn-primary">HistorialPrestamos</button>
    </a>

        <a href="@Url.Action("SolicitarPrestamo", "CuentaBancaria")">
        <button class="btn btn-primary">Solicitar Prestamo</button>
    </a>
</div>